// @import "../node_modules/bootstrap/scss/_variables";

$purple:  #b0197e !default;
$pink:    #e11c52 !default;

$pink-600: mix(#fff, $pink, 20%);

$primary:       $purple !default;
$secondary:     $pink-600 !default;
