// @import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/functions";

$purple: #b0197e;
$pink: #e11c52;

$pink-600: mix(#fff, $pink, 20%);

$primary: $purple;
$secondary: $pink-600;

// $primary-border-subtle-dark: tint-color($primary, 30%);
